{% extends 'base.html' %} {% block title %}Adicionar filme{% endblock %} {% block
content %}

  <h1 class="heading">Adicione um filme

  </h1>
  <form method="POST" class="text-center">
    <label class="form-label" for="movie_title">Título do filme</label>
    <input
      type="text"
      class="form-control text-center"
      id="movie_title"
      name="movie_title"
      required
      placeholder="Enter movie title"
      style="width: 100%; max-width: 300px; margin: auto"
    />
    <label class="form-label" for="movie_year">Ano do filme</label>
    <input
      type="number"
      class="form-control text-center"
      id="movie_year"
      name="movie_year"
      required
      placeholder="Enter movie year"
      style="width: 100%; max-width: 300px; margin: auto"
    />
    <label class="form-label" for="movie_description">Descrição do filme</label>
    <textarea
      class="form-control text-center"
      id="movie_description"
      name="movie_description"
      required
      placeholder="Enter movie description"
      style="width: 100%; max-width: 300px; margin: auto"
    ></textarea>
    <label class="form-label" for="movie_rating">Nota do Filme</label>
    <input
      type="text"
      class="form-control text-center"
      id="movie_rating"
      name="movie_rating"
      required
      placeholder="Enter movie rating"
      style="width: 100%; max-width: 300px; margin: auto"
    />
    <label class="form-label" for="movie_ranking">Rank do filme</label>
    <input
      type="number"
      class="form-control text-center"
      id="movie_ranking"
      name="movie_ranking"
      required
      placeholder="Enter movie ranking"
      style="width: 100%; max-width: 300px; margin: auto"
    />
    <label class="form-label" for="movie_review">Avaliação do filme</label>
    <textarea
      class="form-control text-center"
      id="movie_review"
      name="movie_review"
      required
      placeholder="Enter movie review"
      style="width: 100%; max-width: 300px; margin: auto"
    ></textarea>
    <label class="form-label" for="movie_img_url">URL da capa do filme</label>
    <input
      type="text"
      class="form-control text-center"
      id="movie_img_url"
      name="movie_img_url"
      required
      placeholder="Enter movie image URL"
      style="width: 100%; max-width: 300px; margin: auto"
    />
    <button class="button" type="submit" style="margin-top: 20px">
      Adicionar o filme
    </button>
  </form>
</div>
{% endblock %}
